header {
    background-color: rgba($light-bg, 0.9);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    &.scrolled {
        padding: 10px 0;
        background-color: rgba($light-bg, 0.95);
    }

    nav {
        ul {
            display: flex;
            justify-content: center;
            list-style-type: none;
            
            li {
                margin: 0 15px;

                a {
                    color: $text-color;
                    text-decoration: none;
                    font-weight: 500;
                    transition: color 0.3s ease;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}