@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @warn "Unknown `#{$breakpoint}` in $breakpoints";
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}